# Bỏ qua các file cấu hình máy tính cá nhân
local.properties

firebase-key.json
# Node modules
node_modules/

# Tham số môi trường
.env
.env.production
.env.staging
.env.local

# File Firebase Admin
firebase-key.json

# Thư mục chứa file PDF upload tạm thời
uploads/
# Bỏ qua các thư mục build và cache của Gradle (rất nặng)
.gradle/
*/build/
build/
# Bỏ qua các file cấu hình của Android Studio (tránh xung đột khi người khác tải về)
.idea/
*.iml
.cxx/
# Bỏ qua các file cài đặt (App đã đóng gói)
*.apk
*.ap_
*.aab
# Bỏ qua các file bảo mật (Chữ ký ứng dụng)
*.jks
*.keystore
keystore.properties
# Bỏ qua file hệ điều hành sinh ra (như máy Mac)
.DS_Store
